discord.py
yt-dlp
youtube-search
aiohttp
astunparse
async-timeout
attrs
braceexpand
chardet
click
cog-reloader
colorama
discord-custom-help
idna
import-expression
jishaku
multidict
python-dotenv
six
typing-extensions
yarl